<!doctype html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/images/face.ico" media="screen" />
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/tg_my.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css"/>

	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
	<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="/javascripts/tg.js"></script>
	<title>人人墙</title>
</head>

<body data-spy="scroll" data-target="#navbar-example">

	<!-- 导航条 -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Twogoods</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">主页<span class="sr-only">(current)</span></a></li>
					<!--
					<li><a href="#" id="high">high一下</a></li>
				-->
					<li> <a href='javascript:(function() {
	function c() {
		var e = document.createElement("link");
		e.setAttribute("type", "text/css");
		e.setAttribute("rel", "stylesheet");
		e.setAttribute("href", f);
		e.setAttribute("class", l);
		document.body.appendChild(e)
	}
 
	function h() {
		var e = document.getElementsByClassName(l);
		for (var t = 0; t < e.length; t++) {
			document.body.removeChild(e[t])
		}
	}
 
	function p() {
		var e = document.createElement("div");
		e.setAttribute("class", a);
		document.body.appendChild(e);
		setTimeout(function() {
			document.body.removeChild(e)
		}, 100)
	}
 
	function d(e) {
		return {
			height : e.offsetHeight,
			width : e.offsetWidth
		}
	}
 
	function v(i) {
		var s = d(i);
		return s.height > e && s.height < n && s.width > t && s.width < r
	}
 
	function m(e) {
		var t = e;
		var n = 0;
		while (!!t) {
			n += t.offsetTop;
			t = t.offsetParent
		}
		return n
	}
 
	function g() {
		var e = document.documentElement;
		if (!!window.innerWidth) {
			return window.innerHeight
		} else if (e && !isNaN(e.clientHeight)) {
			return e.clientHeight
		}
		return 0
	}
 
	function y() {
		if (window.pageYOffset) {
			return window.pageYOffset
		}
		return Math.max(document.documentElement.scrollTop, document.body.scrollTop)
	}
 
	function E(e) {
		var t = m(e);
		return t >= w && t <= b + w
	}
 
	function S() {
		var e = document.createElement("audio");
		e.setAttribute("class", l);
		e.src = i;
		e.loop = false;
		e.addEventListener("canplay", function() {
			setTimeout(function() {
				x(k)
			}, 500);
			setTimeout(function() {
				N();
				p();
				for (var e = 0; e < O.length; e++) {
					T(O[e])
				}
			}, 15500)
		}, true);
		e.addEventListener("ended", function() {
			N();
			h()
		}, true);
		e.innerHTML = " <p>If you are reading this, it is because your browser does not support the audio element. We recommend that you get a new browser.</p> <p>";
		document.body.appendChild(e);
		e.play()
	}
 
	function x(e) {
		e.className += " " + s + " " + o
	}
 
	function T(e) {
		e.className += " " + s + " " + u[Math.floor(Math.random() * u.length)]
	}
 
	function N() {
		var e = document.getElementsByClassName(s);
		var t = new RegExp("\\b" + s + "\\b");
		for (var n = 0; n < e.length; ) {
			e[n].className = e[n].className.replace(t, "")
		}
	}
 
	var e = 30;
	var t = 30;
	var n = 350;
	var r = 350;
	var i = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake.mp3";
	var s = "mw-harlem_shake_me";
	var o = "im_first";
	var u = ["im_drunk", "im_baked", "im_trippin", "im_blown"];
	var a = "mw-strobe_light";
	var f = "//s3.amazonaws.com/moovweb-marketing/playground/harlem-shake-style.css";
	var l = "mw_added_css";
	var b = g();
	var w = y();
	var C = document.getElementsByTagName("*");
	var k = null;
	for (var L = 0; L < C.length; L++) {
		var A = C[L];
		if (v(A)) {
			if (E(A)) {
				k = A;
				break
			}
		}
	}
	if (A === null) {
		console.warn("Could not find a node of the right size. Please try a different page.");
		return
	}
	c();
	S();
	var O = [];
	for (var L = 0; L < C.length; L++) {
		var A = C[L];
		if (v(A)) {
			O.push(A)
		}
	}
})()    '>High一下</a> </li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">友情链接 <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="http://www.zjut.edu.cn/" target="_Blank">工大官网</a></li>
							<li><a href="http://www.ie.zjut.edu.cn/xgb/index.html" target="_Blank">学工网</a></li>
						</ul>
					</li>
				</ul>
				<% if (user=="") { %>
				<form class="navbar-form navbar-right" role="search">
					<a class="btn btn-primary" href="/signin.html?/" role="button">登陆</a>
				</form>
				<% } else { %>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/users/center/<%= user.uid %>"><%= user.name %></a></li>
					<li><a href="/logout">退出</a></li>
				</ul>
				<% } %>

			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>



	<!--巨幕-->
	<div class="jumbotron">
		<div class="container">
			<h1>三班头像墙</h1>
			<p>这里是咱的大本营，在这里你能找到我们的每一个成员，头像里还藏着更多有意思的内容，一起去看看吧~</p>
		</div>
	</div>

	<div class="container">

		<% for(var i=0;i<all.length;i++){ %>
		<% if(i%3==0 && i==all.length-1){ %>
			<div class="row">
				<div class="col-md-4" id="left">
					<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
					<img src=<%= all[i].headurl %> class="img-circle center-block"
					data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
					</a>
					<p class="center-block"><%= all[i].mark %></p>
				</div>
			</div>
			<hr>
		<% }else if(i%3==1 && i==all.length-1){ %>
			<div class="col-md-4" id="center">
				<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
					<img src=<%= all[i].headurl %> class="img-circle center-block"
					data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
				</a>
				<p class="center-block"><%= all[i].mark %></p>
			</div>
			</div>
			<hr>
		<% }else if(i%3==2 && i==all.length-1){ %>
			<div class="col-md-4" id="right">
				<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
					<img src=<%= all[i].headurl %> class="img-circle center-block"
					data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
				</a>
				<p class="center-block"><%= all[i].mark %></p>
			</div>
			</div>
			<hr>
		<% }else if(i%3==0){ %>
			<div class="row">
				<div class="col-md-4" id="left">
					<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
						<img src=<%= all[i].headurl %> class="img-circle center-block"
						data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
					</a>
					<p class="center-block"><%= all[i].mark %></p>
				</div>

		<% }else if(i%3==1){ %>
			<div class="col-md-4" id="center">
				<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
					<img src=<%= all[i].headurl %> class="img-circle center-block"
					data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
				</a>
				<p class="center-block"><%= all[i].mark %></p>
			</div>
		<% }else if(i%3==2){ %>
			<div class="col-md-4" id="right">
				<a href="/users/<%= all[i].uid %>" class="center-block" target="_Blank" >
					<img src=<%= all[i].headurl %> class="img-circle center-block"
					data-toggle="tooltip" data-placement="right" title=<%= all[i].name %> />
				</a>
				<p class="center-block"><%= all[i].mark %></p>
			</div>
		</div>
		<hr>
		<% } %>
	<% } %>
<footer>
	<p>&copy; <a href="http://twogoods.github.io" target="_Blank">Twogoods</a> 21015 Copyleft</p>
</footer>
</div><!-- container-->

</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f0a4060424286c7402bf3fde8b8f3e86";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>